<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161244832052-89qtcaqpul7qkv0be8idjqqn5lr0vffu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161244832052-89qtcaqpul7qkv0be8idjqqn5lr0vffu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>161244832052-n4k0abu3mt28easgk335brr07shhbqmk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA800w-MZSUZ9PLKYjMjoJNbVA2WQy5xcY</string>
	<key>GCM_SENDER_ID</key>
	<string>161244832052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buddhist.auction</string>
	<key>PROJECT_ID</key>
	<string>auctionlaravel</string>
	<key>STORAGE_BUCKET</key>
	<string>auctionlaravel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161244832052:ios:0956d48d8eef9016240561</string>
	<key>DATABASE_URL</key>
	<string>https://auctionlaravel.firebaseio.com</string>
</dict>
</plist>