<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161244832052-cb0n7069nj7tvpet5tgjb97dlubi50jg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161244832052-cb0n7069nj7tvpet5tgjb97dlubi50jg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>161244832052-40a6aatvnm0kq78did17gb0h0kki29ob.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA800w-MZSUZ9PLKYjMjoJNbVA2WQy5xcY</string>
	<key>GCM_SENDER_ID</key>
	<string>161244832052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kongdee.bidding</string>
	<key>PROJECT_ID</key>
	<string>auctionlaravel</string>
	<key>STORAGE_BUCKET</key>
	<string>auctionlaravel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161244832052:ios:e81a4296e2688074240561</string>
	<key>DATABASE_URL</key>
	<string>https://auctionlaravel.firebaseio.com</string>
</dict>
</plist>